@font-face {
    font-family: 'MyCustomFont';
    src: url('../../Assets/Fonts/PixeloidMono-d94EV.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    font-family: 'MyCustomFont';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section {
    background-color: #fff1de;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 1%;
}

.section-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.main-stat {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}


/* user points section */
#user-points {
    display: flex;
    justify-content: center;
    align-items: center;
    column-fill: auto;
}

.internal-section {
    padding-left: 1.5%;
    padding-right: 1.5%;
}


.leaderboard-button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 4px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: MyCustomFont;
    margin-right: 10px;

}

.leaderboard-button:hover {
    background-color: #b30000;
}

#map {
    border: 1px solid black;
    border-radius: 3px;
}

#leaderboard-button {
    margin-right: 10px;
}

.nav-bar {
    position: relative;
    width: 100%;
    height: 50px;
    z-index: 1000;
    background-color: #ff000052;
}

.dashboard-container {
    background-color: #ff9090;
    opacity: 0.9;
    width: 80%;
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 7%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}

#friend-list-ul {
    text-align: left;
}

/* phone CSS */
@media screen and (max-width: 480px) {
    body {
        flex-direction: column;
        align-items: stretch;

    }

    .leaderboard-button {
        font-size: 14px;
        padding: 5px 10px;
        margin-right: 30px;
    }

    main {
        width: 100%;
        margin-top: 30px;
    }

    .dashboard-container {
        width: fit-content;
        padding: 3%;
        align-items: stretch;
        flex-direction: column;
    }

    .section {
        width: fit-content(80%);
    }

    .section-title {
        font-size: 16px;
    }

    .main-stat {
        font-size: 36px;
    }

    #map {
        height: 150px;
    }

}