/* input feld styles */
@font-face {
    font-family: 'MyCustomFont';
    src: url('../../Assets/Fonts/PixeloidMono-d94EV.ttf') format('truetype');
}

.form_input {
    font-family: 'MyCustomFont';
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}