<footer class="site-footer">
  <a href="/terms.html">Terms</a> · 
  <!-- <a href="/privacy">Privacy</a> ·  -->
  <a href="https://github.com/Aiden-Jacobs/Cow-Points/security/policy">Security</a> · 
  <!-- <a href="/status">Status</a> ·  -->
  <a href="https://github.com/Aiden-Jacobs/Cow-Points/blob/main/README.md">Docs</a> · 
  <a href="/contact.html">Contact</a> · 
  <!-- rules -->
  <a href="/rules.html">Rules</a> ·
  <a href="/status.html">Status</a>
  <!-- ·  -->
  <!-- <span class="footer-note">© 2024 Cow I Win</span> -->
</footer>
